/build/
*/cmake-build-*/*
cmake-build-debug-wsl
.idea/
.vs/
.vscode/

*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

*.d

*.gch
*.pch